
<section class="container-fluid" id="section1">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="background-color:rgba(0,0,0,0.5);">
            <h2 class="text-center">In case you were wondering</h2>
            <hr>
            <div class="media">
                <h3 class="lato">Ceremony and Reception</h3>
                <div class="media-left">
                    <img width=100 height=100 src="https://pbs.twimg.com/profile_images/1420464620/Flag.jpg"/></div>
                <div class="media-body media-middle">
                    <p>Both the ceremony and reception will be held at &nbsp;<%= link_to 'PUBLIC Restaurant', 'http://public-nyc.com/',:target => '_blank' %>&nbsp;in New York City.   The ceremony will begin promptly at 6:00 PM on November 14th, 2015 followed by cocktail hour, dinner and dancing.  Public Restaurant is located in the Nolita neighborhood of Manhattan at &nbsp;<%= link_to '210 Elizabeth Street', 'https://www.google.com/maps/place/Public/@40.7221655,-73.9941167,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25985fc371947:0xfd10774ff16db014',:target => '_blank' %>. &nbsp;It will be an adults only event.</p></div>
            </div>
            <hr>
            <div class="media">
                <h3 class="lato">Lodging</h3>
                <div class="media-body media-middle">
                    <p>We have two wedding blocks available that are in walking distance to the Ceremony and Reception, but please feel free to stay anywhere you like. 
                    <%= link_to 'Nolitan Hotel','http://www.nolitanhotel.com/', target:'_blank' %> ($379 per night) and  <%= link_to 'Best Western',
'http://www.bw-boweryhanbeehotel.com/', target:'_blank' %> ($219 per night).  Mention the Hill-Bisset Wedding for these rates.  The room blocks will be released on October 10th, 2015.</p></div>
                <div class="media-right">
                    <img width=150 height=100 src="https://s-media-cache-ak0.pinimg.com/736x/6f/64/86/6f64868b01dd7ec2b328967974bae1fe.jpg">
                </div>
            </div>
            <hr>
            <div class="media">
                <h3 class="lato">Registry</h3>
                <div class="media-left">
                    <img width=150 height=100 src="http://nicholeandwill.com/img/nw_button_registry.png">
                </div>
                <div class="media-body media-middle">
                    <p>We have been blessed with lots of wonderful stuff and a wonderfully small apartment.  We have registered at the following stores <a href="https://secure.williams-sonoma.com/registry/m6d89cjb56/registry-list.html">Williams-Sonoma</a> and <a href="http://www.potterybarn.com/registry/3737942/registry-list.html">Pottery Barn</a>, but cash gifts are great too!</p>
                    </div>
            </div>
            
            <!--
            <hr>
            <div class="media">
                <h3 class="lato">Rehearsal Dinner</h3>
                <div class="media-body media-middle">
                    <p>Rehearsal will take place during a dinner cruise aboard the Manhattan Elite.  Boarding begins at 6:00 PM from Chelsea Piers and we will depart at 6:30 PM.
                    Chelsea Piers is large, so give yourself some time to find pier 61 and then head out towards the water, the boat should be docked to your left.
                 
                    Unlike the photo, attire is business casual.
                &nbsp;     <%= link_to 'Map', 'https://www.google.com/maps/place/NY+Boat+Charter/@40.7476636,-74.0097439,19z/data=!4m2!3m1!1s0x0000000000000000:0xc388a4fd8ce58564',target:'_blank' %> 
               		
                </p></div>
                <div class="media-right">
                    <img width=125 height=100 src="http://fly-13d6.kxcdn.com/wp-content/uploads/2015/02/40-snl-greats-return-for-the-40th-anniversary-142376371118.jpg">
                </div>
            </div>
            -->
            <hr>
            <div class="media">
                <h3 class="lato">Things to Do</h3>
                <div class="media-left">
                    <img width=100 height=100 src="https://pbs.twimg.com/profile_images/1151633724/BIG_APPLE_APPLE_NO_BACKGROUND_400x400.png">
                </div>
                <div class="media-body media-middle">
                    <p>Nolita is short for North of Little Italy.  This fashionable and friendly neighborhood is composed of narrow streets, picture-perfect window displays, and sidewalk cafes that invite you to indulge in some coffee and people watching.   
                   Head south on Mulberry Street to find Little Italy.  Surrounding Little Italy is the ever growing Chinatown, filled with hole-in-the-wall restaurants, open-air fish markets and kitschy souvenir shops.   
                   <br/>Don't forget, it's New York City!  See a show, check out the top of the Empire State Building, the world is your apple.    </p></div>
            </p>
            </div>
            <hr>
            
        </div>
    </div>
</section>