<section style="color:white;font-family:Bitter;background-color:rgba(0,0,0,0.5);">
    <div class="container-fluid">
 
        <div class="row" style="padding-bottom:10px;">
          	<div class="col-sm-4 col-sm-offset-3 row bounceInUp animated"  style="background-color:rgba(0,0,0,0.5);font-family: Parisienne;"><h1>The Groomsmen</h1></div>
         </div>
       
        <div class="row bounceInUp animated" style="background-color:rgba(0,0,0,0.5);padding-top:20px;">
            <div class="col-sm-2 col-sm-offset-5 col-xs-8 col-xs-offset-2">
                <div class="text-center">
                    <a href="">
                    <%= image_tag 'lee.png',style:'width:200px;height:200px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Lee Taylor</h3>
                </div>
            </div>
        </div>	
        
        <div class="row bounceInUp animated" style="background-color:rgba(0,0,0,0.5);padding-bottom:20px;"	>
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                        <%= image_tag 'kelle.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Kelle McCarty</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                         <%= image_tag 'keith.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Keith Cecere</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                        <%= image_tag 'kevin3.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Kevin Anderson</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                          <%= image_tag 'pat4.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>             
                    </a>
                    <h3 class="text-center">Pat O'Connor</h3>
                </div>
            </div>
        </div>
        
        <div class="row" style="padding:40px;">&nbsp;</div>
        
          <div class="row" style="padding-bottom:10px;">
          	<div class="col-sm-4 col-sm-offset-3 row bounceInDown animated"  style="background-color:rgba(0,0,0,0.5);font-family: Parisienne;"><h1>The Bridesmaids</h1></div>
         </div>
        
        <div class="row bounceInDown animated" style="background-color:rgba(0,0,0,0.5);padding-top:20px;">
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                         <%= image_tag 'alex.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Alexandra Maillet</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                          <%= image_tag 'allison.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Allison Swanson</h3>
                </div>
            </div>
      
      
      
      
       <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                          <%= image_tag 'maia2.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Maia Bhirud</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                          <%= image_tag 'kristen.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Kristen Zinkand</h3>
                </div>
            </div>
            
            
            
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                         <%= image_tag 'laura4.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Laura Good</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                         <%= image_tag 'ellie.png',style:'width:150px;height:150px;',class:'img-circle img-responsive img-thumbnail' %>
                    </a>
                    <h3 class="text-center">Ellie Gogan-Tilstone</h3>
                </div>
            </div>
           
        </div>
   
    </div>
</section>